:root {
  --main: #bfd6eb;
  --secondary: #ebd4bf;
  --text: #990a51;
}

body {
  background-color: var(--main);
}

.todo-list-app {
  min-height: 100vh;
  padding: 50px 20px;
}

.navigation .nav-item {
  width: 100%;
  padding: 5px;
  background-color: var(--main);
  border: none;
  text-align: left;
  color: var(--text);
  font-weight: 600;
}

.navigation .nav-item:hover {
  background-color: var(--secondary);
}

.navigation .nav-item:active {
  transform: scale(98%);
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 4fr;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  border: 1px solid red;
  padding: 0 20px;
}

.project h1.project-label {
  text-align: center;
}

.project .section {
  /* padding: 0 20px; */
}

.project .section .task {
  padding-left: 20px;
}

.project h2.section-label {
  font-size: 1.125rem;
}
